PORT=3000
DB_HOST=mysql
DB_PORT=3306
DB_USER=kfzparts
DB_PASSWORD=kfzparts
DB_NAME=kfz_parts
DB_SYNCHRONIZE=false
DB_MIGRATIONS_RUN=true
JWT_SECRET=please-change
JWT_EXPIRES_IN=1d
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=ChangeMe123!
DEFAULT_ADMIN_DISPLAY_NAME=System Administrator
